@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
}

html {
    font-family: 'Montserrat';
    color: var(--main-light);
    height: 100%;
    background: var(--bg-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /*by default, gradients only fill the content height of the element, and if the viewport is taller than the content, the gradient will repeat.*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    
    padding: 30px; 
}

body > * {
    flex-basis: 100%;
}

h1 {
    font-family: "Milkyway";
    font-size: 100px;
    text-shadow: var(--text-border-size-neg) var(--text-border-size-neg) 0 var(--main-dark), var(--text-border-size) var(--text-border-size-neg) 0 var(--main-dark), var(--text-border-size-neg) var(--text-border-size) 0 var(--main-dark), var(--text-border-size) var(--text-border-size) 0 var(--main-dark);
    text-align: center;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h3 {
    font-style: italic;
    font-weight: 400;
    margin: 0px;
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; 

    min-height: 300px;
}

.display > div {
    flex: 1;
    border-radius: 50px;
    /*box-shadow: 0 0 30px var(--main-dark);*/
    border: var(--border-size) solid var(--main-dark);
    color: var(--main-dark)
}

.display div h3{
    font-size: xx-large;
    text-align: center;
}

.likes {
    background: var(--main-light);
}

.dislikes {
    background: var(--main-light);
}

div h3 {
    margin: 15px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
    display: flex;
    flex-direction: row;
    min-height: 50px;
}

input {
    flex: 4;

    border: none;
    background-color: var(--main-light);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    padding: 15px;

    font-family: 'Montserrat';
}

button {
    flex: 1;

    border: none;
    background-color: var(--main-dark);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    padding: 10px;

    font-family: 'Montserrat';
    font-weight: bold;
    color: var(--text-dark)
}

:root {
    --main-light: #f3eef7;
    --main: #e0c6f3;
    --main-dark: #d19ef5;
    --bg-color: linear-gradient(#e0c6f3, #C8B6FF);

    --secondary: #FFD6FF;

    --accent-light: white;

    --text-border-size: 2px;
    --text-border-size-neg: -2px;
    --border-size: 3px;

    --text-dark: #392544;
    
}


@font-face {
    font-family: "Milkyway";
    src: url('fonts/Milkyway DEMO.ttf') format('truetype');
}

